---
Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -4
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: false
AlignOperands:   true
BreakBeforeBinaryOperators: All
BraceWrapping:
  AfterControlStatement: false
  AfterFunction:   true
  BeforeElse:      true
BreakBeforeBraces: Custom
ColumnLimit:     80
IndentPPDirectives: AfterHash
IndentWidth:     4
...
